{% block box-contents %}
    <div class="sugested-search-queries">
        <h2>Woops! We don't have any results for your query just yet. Try one of the queries below!</h2>
        <div class="suggestions">
            <p>&#8226 Google cash flow</p>
            <p>&#8226 Yahoo balance sheet and income statement</p>
            <p>&#8226 Facebook ratios</p>
            <p>&#8226 Tesco financial statements</p>
        </div>
    </div>
    <div class="fake-report-box">
        <img src="/static/img/fake-economics.png"/>
    </div>
    <div class="fake-report-box">
        <img src="/static/img/fake-risk-analysis.png"/>
    </div>
    <div class="fake-report-box">
        <img src="/static/img/fake-return-on-equity.png"/>
    </div>
    <div class="fake-report-box">
        <img src="/static/img/fake-return-on-assets.png"/>
    </div>
    <div class="fake-report-box">
        <img src="/static/img/fake-major-events.png"/>
    </div>
    <div class="fake-report-box">
        <img src="/static/img/fake-location.png"/>
    </div>
    <div class="fake-report-box">
        <img src="/static/img/fake-macroeconomics.png"/>
    </div>

{% endblock %}