{% extends "boxTemplates/reportBox.html" %}

{% load graphExtras %}

{% block box-contents %}

    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <div class="graph-box">
        <div id="stock-graph" class="stock-graph"> </div>
        <button id="get-news" class="btn btn-success" style="position: absolute; bottom: 10px; left: 10px;" type="button">Get News</button>
    </div>
    <div id="news-links">
    </div>
    <div id="load-more-news">
    </div>
    <script>
$(function () {
    var seriesOptions = [],
        seriesCounter = 0,
        names = {{ args|getNames|safe }}
        // create the chart when all data is loaded
        createChart = function () {

            $('#stock-graph').highcharts('StockChart', {

                rangeSelector: {
                    selected: 4
                },

                yAxis: {
                    labels: {
                        formatter: function () {
                            return (this.value > 0 ? ' + ' : '') + this.value + '%';
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                },

                xAxis: {
                    type: 'datetime',
                    labels: {
                        formatter: function() {
                            return Highcharts.dateFormat('%y-%m-%d', this.value);
                        }
                    }
                },

                plotOptions: {
                    series: {
                        compare: 'percent'
                    }
                },
                legend: {
                    enabled: true
                },

                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                    valueDecimals: 2
                },

                series: seriesOptions
            });
        };

        $.each({{ args|getStockSeries|safe }}, function (i, s) {
            seriesOptions[i] = {
                name: names[i],
                data: s
            };
            // As we're loading the data asynchronously, we don't know what order it will arrive. So
            // we keep a counter and create the chart when all the data is loaded.
            seriesCounter += 1;

            if (seriesCounter === 6) {
                createChart();
            }
        });
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        $('#get-news').click(function (){
            var chart = $('#stock-graph').highcharts(),
                extremes = chart.xAxis[0].getExtremes(),
                start = new Date(extremes.min),
                end   = new Date(extremes.max);
            startymd = (start.getFullYear()*10000) + (start.getMonth()*100) + start.getDay();
            endymd = (end.getFullYear()*10000) + (end.getMonth()*100) + end.getDay();
            $.ajax({
                type : "POST",
                url : "{% url 'getArticlesByDate' %}",
                data : {
                    startDate: startymd,
                    endDate: endymd,
                    csrfmiddlewaretoken: getCookie('csrftoken')
                },
                success: function(data){
                    articles = JSON.parse(data).data;
                    $('#news-links').empty()
                    $('#load-more-news').empty()
                    if (articles.length > 0) {
                        var loading = $('<button></button>').text("Fetching...").attr('id', "get-more-news").addClass('btn').toggleClass('btn-warning').attr("disabled", true);
                        $('#load-more-news').append(loading)
                        $.urliveUpdate(articles, 10)
                    } else {
                        $('#news-links').append($('<p></p>').text("Sorry, we don't have articles for this date range").addClass("no-news"))
                    }

                }
            });
        });
    });

    $.urliveUpdate = function (articles, count) {
        if (count > 0) {
            var fetched = 0
            var received = 0
            for (i=2*count; i--; i > 0){
                article = articles.pop()
                var newsDiv = $('<div></div>').text(article);
                var picDiv = $('<div></div>').addClass('article-link');
                $('#news-links').append(picDiv)
                newsDiv.urlive({
                    callbacks: {
                        onSuccess: function (data) {
                            fetched += 1
                            received += 1
                            if (fetched >= 2 * count) {
                                $.urliveUpdate(articles, count -= received)
                            }
                        },
                        onFail: function (data) {
                            fetched += 1
                            if (fetched >= 2 * count) {
                                $.urliveUpdate(articles, count -= received)
                            }
                        },
                        noData: function (data) {
                            fetched += 1
                            if (fetched >= 2 * count) {
                                $.urliveUpdate(articles, count -= received)
                            }
                        },
                        imgError: function (data) {
                            fetched += 1
                            if (fetched >= 2 * count) {
                                $.urliveUpdate(articles, count -= received)
                            }
                        }

                    },
                    container: picDiv
                });
            }
        } else {
            $('#get-more-news').remove("click")
            $('#get-more-news').attr("disabled", false);
            $('#get-more-news').text("Get more");
            $('#get-more-news').addClass('btn-success');
            $('#get-more-news').removeClass('btn-warning');
            $('#get-more-news').click(function (){
                if (articles.length > 0) {
                    $('#get-more-news').text('Fetching...');
                    $('#get-more-news').addClass('btn-warning');
                    $('#get-more-news').removeClass('btn-success');
                    $('#get-more-news').attr("disabled", true);
                    $.urliveUpdate(articles, 10);
                }else {
                    $('#get-more-news').text('No more');
                    $('#get-more-news').addClass('btn-danger');
                    $('#get-more-news').removeClass('btn-success');
                    $('#get-more-news').removeClass('btn-warning');
                    $('#get-more-news').attr("disabled", true);
                }
            })
        }
    };

    </script>
{% endblock %}

