{% extends "boxTemplates/reportBox.html" %}

{% load graphExtras %}

{% block box-contents %}
    <script src="/static/js/highcharts/js/highcharts.js"></script>
    <div class="graph-box">
        <div id="line-graph" style="min-width: 510px; height: 400px; margin: 0 auto"> </div>
    </div>
    <script>
            $(function () {
                cat = {{ args|getXLabels|safe }}
                ser = {{ args|getSeries|safe }}
                $('#line-graph').highcharts({
                    xAxis: {
                        categories: cat
                    },
                    yAxis: {
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: '$'
                    },
                    series: ser
                });
            });
        </script>
{% endblock %}

