{% extends "boxTemplates/reportBox.html" %}

{% load boxExtras %}

{% block box-contents %}
    <div class="table-box">
        {%  if args|getBoxArg:"title" %}
            <h2  class="box-table-title">{{ args|getBoxArg:"title" }}</h2>
        {% endif %}
        <table class="box-table">
            <tr class="box-table-header-row">
                {%  if args|getBoxArg:"headers" %}
                    {% for header in args|getBoxArg:"headers" %}
                        <th class="box-table-header">{{header}}</th>
                    {% endfor %}
                {% endif %}
            </tr>
            {%  if args|getBoxArg:"data" %}
                {% for fact in args|getBoxArg:"data" %}
                    <tr class="box-table-data-row">
                        <td class="box-table-data-name">{{fact|getFactName}}</td>
                        <td class="box-table-data-value">{{fact|getFactValue}}</td>
                    </tr>
                    {%  if fact|isPeriodicFact %}
                        {% for period in fact|getPeriodicValues %}
                            <tr class="box-table-data-row">
                                <td class="box-table-data-name, data-indent">{{period|getPeriodDates}}</td>
                                <td class="box-table-data-value">{{period|getPeriodValue}}</td>
                            </tr>
                        {% endfor %}
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}
