{% extends "boxTemplates/reportBox.html" %}

{% load boxExtras %}

{% block box-contents %}
    <div class="box">
        <h2  class="box-title">{{ args|getBoxArg:"title" }}</h2>
        {% for textBlock in args|getBoxArg:"data"|getFactChildren %}
            <ul>
                {% if textBlock|getFactType == 'xbrl:unstructured:text' %}
                    {% for semFact in textBlock|getFactValue %}
                        <li>{{ semFact }}</li>
                    {% endfor %}
                {% endif %}
                {% if textBlock|getFactType == 'xbrl:unstructured:table' %}
                    <table>
                        {{ textBlock|getFactValue | safe }}
                    </table>
                {% endif %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
