openapi: 3.0.1
info:
  title: Athena
  description: |-
    Athena API REST documentation for Ritual ONE. With the following API you have the full ability to interact with the Athena backend.
    ### Locales
    The Open API docs do not provide the capability to have a global header setting. Its "Authorize" logic was overridden to achieve this. Please go to Authorize -> set locale -> Authorize to set the locale for your requests.
    ### Guest User Session Info
    Session info is stored in a cookie in your browser which allows your cart and orders to persist. To view/edit your session info (Chrome) you can go to Inspect -> Application -> Cookies -> docs url.
  contact: {}
  version: "17"
servers:
- url: https://sandbox-athena.ritual.co
  description: Sandbox environment
- url: https://qa-athena.ritual.co
  description: QA environment
- url: https://athena.ritual.co
  description: Production
tags:
- name: branding
  description: The branding API
- name: current-user-cart
  description: The current user cart API
- name: delivery
  description: The Delivery Status API
- name: user
  description: The User Data API
- name: delivery-address
  description: The user delivery address management API
- name: payment
  description: The Payment API
- name: merchant
  description: The merchant API
- name: merchant-preview
  description: The merchant preview API
- name: menu
  description: The Menu API
- name: guest-order
  description: The guest order API
- name: order
  description: The order API
- name: cart
  description: The Cart API
- name: search
  description: The Search API
- name: campaign
  description: The Campaign API
- name: shareable
  description: The Shareable API
- name: promo-codes
  description: The Promo Codes API
paths:
  /delivery-addresses:
    get:
      tags:
      - delivery-address
      summary: Returns a user's delivery addresses. This does not support guest users
      operationId: getDeliveryAddresses
      responses:
        "200":
          description: Successfully retrieved a list of addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeliveryAddressResponse'
        "400":
          description: Invalid user. Expected response if guest users hit this endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Server error
    post:
      tags:
      - delivery-address
      summary: Create a new delivery address for a user
      operationId: createDeliveryAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeliveryAddressRequest'
        required: true
      responses:
        "201":
          description: Successfully created the delivery address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDeliveryAddressResponse'
        "400":
          description: Unable to save a delivery address for this user. Expected response
            if guest users hit this endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "500":
          description: Server error
  /delivery-addresses/{addressId}:
    delete:
      tags:
      - delivery-address
      summary: Remove a user's saved delivery address
      operationId: deleteDeliveryAddress
      parameters:
      - name: addressId
        in: path
        description: The ID of the address to be removed
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Successfully removed the delivery address
        "404":
          description: Address not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "500":
          description: Server error
  /v1/brands:
    get:
      tags:
      - branding
      summary: Retrieve the branding information given a merchant
      operationId: getBrandMerchantData
      parameters:
      - name: externalId
        in: query
        description: External ID of the brand
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandData'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /v1/cart/{merchantId}:
    get:
      tags:
      - cart
      summary: Retrieve a cart
      operationId: getCart
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
    patch:
      tags:
      - cart
      summary: Update individual properties of the Cart
      operationId: updateCart
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartPropsRequest'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "4XX":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/cart/{merchantId}/item:
    post:
      tags:
      - cart
      summary: Add item to cart
      operationId: addItemToCart
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartItemRequest'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidCartItemErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/cart/{merchantId}/item/{cartItemId}:
    put:
      tags:
      - cart
      summary: Modify item in cart
      operationId: modifyItemInCart
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: cartItemId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartItemRequest'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidCartItemErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
    delete:
      tags:
      - cart
      summary: Remove item from cart
      operationId: removeItemFromCart
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: cartItemId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/cart/{merchantId}/config:
    put:
      tags:
      - cart
      summary: Modify cart config
      operationId: modifyCartConfig
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartConfigRequest'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /v1/cart/{merchantId}/incentives:
    get:
      tags:
      - cart
      summary: returns a list of applicable incentives (vouchers/marketing campaigns)
        that can apply to the current cart. Considers user/merchant/cart totals.
      operationId: getCartIncentives
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: cartCheckoutCode
        in: query
        description: optional param to support hidden (request only) marketing campaigns
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCartIncentivesResponse'
        "404":
          description: merchant or user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
    patch:
      tags:
      - cart
      summary: updates the list of selected incentives (vouchers/campaigns) in the
        user cart
      operationId: patchCartIncentives
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: cartCheckoutCode
        in: query
        description: optional param to support hidden (request only) marketing campaigns
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCartIncentivesRequest'
        required: true
      responses:
        "200":
          description: successfuly updated selected incentives
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchCartIncentivesResponse'
        "400":
          description: merchant or user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        "404":
          description: merchant or user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /v1/cart/{merchantId}/fulfillment:
    put:
      tags:
      - cart
      summary: Modify cart delivery information
      operationId: modifyCartFulfillmentDetails
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartFulfillmentRequest'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidUserAddressErrorResponse'
  /v1/cart/{merchantId}/checkout-code:
    put:
      tags:
      - cart
      summary: Modify cart checkout codes
      operationId: modifyCartCheckoutCodes
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartCheckoutCodeRequest'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /v1/cart/{merchantId}/scheduled-for-time:
    put:
      tags:
      - cart
      summary: Modify cart scheduled for time
      operationId: modifyCartScheduledForTime
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartScheduledForTimeRequest'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidScheduledForTimeErrorResponse'
  /cart/{merchantId}/delivery-info:
    get:
      tags:
      - cart
      summary: Get delivery info based on the cart's fulfillment address
      operationId: getCartDeliveryInfo
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDeliveryInfoResponse'
        "404":
          description: Cart not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "400":
          description: Cart has an invalid or missing fulfillment address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
  /v1/incentive:
    get:
      tags:
      - incentive
      summary: returns a list of all applicable incentives for this user & merchant.
        Returns all user incentives if merchant isn't specified
      operationId: getIncentives
      parameters:
      - name: merchantId
        in: query
        description: the ID of the merchant
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: cartCheckoutCode
        in: query
        description: the checkout code for request only marketing campaigns
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIncentivesResponse'
  /v1/order/{orderId}:
    get:
      tags:
      - order
      summary: Retrieves an order
      operationId: getOrder
      parameters:
      - name: orderId
        in: path
        description: order ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 443495d209d44efabf918f6878e1dad4
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
        "400":
          description: Failed to get order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGenericErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/order/token/{orderToken}:
    get:
      tags:
      - order
      summary: Retrieves an order with the temporary orderToken
      operationId: getOrderWithToken
      parameters:
      - name: orderToken
        in: path
        description: order token
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 9007199254740991
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
        "400":
          description: Failed to get order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGenericErrorResponse'
  /v1/order/{orderId}/cancel:
    patch:
      tags:
      - order
      summary: Cancels an order that has just been placed.
      operationId: cancelOrder
      parameters:
      - name: orderId
        in: path
        description: The order ID of the order the cancel
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 443495d209d44efabf918f6878e1dad4
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        "400":
          description: Failed to cancel error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGenericErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/order/{orderId}/continue:
    patch:
      tags:
      - order
      summary: Continues an order that is waiting for action.
      operationId: continueOrder
      parameters:
      - name: orderId
        in: path
        description: The order ID of the order to continue
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 443495d209d44efabf918f6878e1dad4
      responses:
        "200":
          description: Successful operation
        "400":
          description: Failed to cancel error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGenericErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/order/token/{orderToken}/cancel:
    patch:
      tags:
      - order
      summary: Cancels an order that has just been placed with orderToken.
      operationId: cancelOrderWithToken
      parameters:
      - name: orderToken
        in: path
        description: The temporary order token of the order to cancel
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 9007199254740991
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        "400":
          description: Failed to cancel error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGenericErrorResponse'
  /v1/order/token/{orderToken}/continue:
    patch:
      tags:
      - order
      summary: Continues an order that is waiting for action.
      operationId: continueOrderWithToken
      parameters:
      - name: orderToken
        in: path
        description: The temporary order token of the order to continue
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 443495d209d44efabf918f6878e1dad4
      responses:
        "200":
          description: Successful operation
        "400":
          description: Failed to cancel error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGenericErrorResponse'
  /v1/order:
    post:
      tags:
      - order
      summary: Places an order
      operationId: placeOrder
      parameters:
      - name: X-Ritual-Order-Source
        in: header
        description: Identifier representing the system from which the order was placed.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - RITUAL_APP
          - RITUAL_ONE
          - GOOGLE_FOOD
          - ORGANIZATION
      - name: X-Ritual-Order-Source-Id
        in: header
        description: The order source identifier.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderRequest'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceOrderResponse'
        "400":
          description: Order failed to place
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGenericErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/guest-order/cancel/{guestOrderToken}:
    post:
      tags:
      - guest-order
      summary: Cancel an order that has just been placed.
      operationId: cancelGuestOrder
      parameters:
      - name: guestOrderToken
        in: path
        description: The guest order ID of the order the cancel
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 443495d209d44efabf918f6878e1dad4
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelGuestOrderResponse'
        "400":
          description: Failed to cancel error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGenericErrorResponse'
  /v1/guest-order:
    post:
      tags:
      - guest-order
      summary: Place a guest order
      operationId: placeGuestOrder
      parameters:
      - name: X-Ritual-Order-Source
        in: header
        description: Identifier representing the system from which the order was placed.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - RITUAL_APP
          - RITUAL_ONE
          - GOOGLE_FOOD
          - ORGANIZATION
      - name: X-Ritual-Order-Source-Id
        in: header
        description: The order source identifier.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceGuestOrderRequest'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceGuestOrderResponse'
        "400":
          description: Order failed to place
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGenericErrorResponse'
  /v1/guest-order/{guestOrderToken}:
    get:
      tags:
      - guest-order
      summary: Retrieve a guest order order
      operationId: getGuestOrder
      parameters:
      - name: guestOrderToken
        in: path
        description: Guest order ID of the order
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 443495d209d44efabf918f6878e1dad4
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGuestOrderResponse'
        "400":
          description: Failed to get order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGenericErrorResponse'
  /v1/menus:
    get:
      tags:
      - menu
      summary: Get a menu given search parameters
      operationId: getMenuBySearch
      parameters:
      - name: merchantExternalId
        in: query
        description: external id of the merchant
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: a2b4
      - name: dateTime
        in: query
        description: "Date and time filter for menu groups and items (no time zone,\
          \ merchant time zone assumed)"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
        example: 2020-12-08T15:30:00
      - name: debug
        in: query
        description: whether the debug menu should be returned. True means the menu
          is returned unfiltered (no time or availability filters enabled)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: menuDraftId
        in: query
        description: "the ID of the draft menu. If this is present, the endpoint returns\
          \ the specified draft menu instead of the merchant's primary menu. If the\
          \ menuDraftId is present then the debug param is expected to also be true,\
          \ otherwise the request is invalid."
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: 01164d73adbd4d29b9bc0ac5d5724168
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Menu'
        "400":
          description: merchant was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /v1/menu/{id}:
    get:
      tags:
      - menu
      summary: Get a menu
      operationId: getMenu
      parameters:
      - name: id
        in: path
        description: id of the menu
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 123
      - name: dateTime
        in: query
        description: "Date and time filter for menu groups and items (no time zone,\
          \ merchant time zone assumed)"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
        example: 2020-12-08T15:30:00
      - name: debug
        in: query
        description: whether the debug menu should be returned. True means the menu
          is returned unfiltered (no time or availability filters enabled)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: menuDraftId
        in: query
        description: "the ID of the draft menu. If this is present, the endpoint returns\
          \ the specified draft menu instead of the merchant's primary menu. If the\
          \ menuDraftId is present then the debug param is expected to also be true,\
          \ otherwise the request is invalid."
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: 01164d73adbd4d29b9bc0ac5d5724168
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Menu'
        "400":
          description: menu was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /v1/merchants:
    get:
      tags:
      - merchant
      summary: Get a merchant
      description: Returns the merchant data for a merchant by ID or external ID.
        Callers must pass either `id` or `externalId`.
      operationId: getMerchantByExternalId
      parameters:
      - name: externalId
        in: query
        description: The external ID of the merchant (corresponds to the merchant
          shortcode)
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: aa99
      - name: id
        in: query
        description: The internal ID of the merchant
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: d0ab82a4e3cf4699b4e41a094f5f952b
      - name: brandExternalId
        in: query
        description: The external ID of the brand to use if no custom theme is set
          on the merchant
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: cartCheckoutCode
        in: query
        description: The cart checkout code of the campaign to load
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
        "400":
          description: merchant was not found for the provided ID or external ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /v1/merchants/user-preferences:
    get:
      tags:
      - merchant
      summary: Get the marketing preferences of a user for a given merchant
      operationId: getUserMerchantMarketingPreferences
      parameters:
      - name: urlId
        in: query
        description: The external ID of the merchant (corresponds to the merchant
          shortcode)
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1234
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMerchantMarketingPreferences'
        "400":
          description: merchant was not found for the provided external ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
    put:
      tags:
      - merchant
      summary: Update the marketing preferences of a user for a given merchant
      operationId: updateUserMerchantMarketingPreferences
      parameters:
      - name: urlId
        in: query
        description: The external ID of the merchant (corresponds to the merchant
          shortcode)
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 1234
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserMerchantMarketingPreferences'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMerchantMarketingPreferences'
        "400":
          description: merchant was not found for the provided external ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /merchants/{merchantId}/delivery-info:
    get:
      tags:
      - merchant
      summary: Get a merchant's estimated delivery info
      operationId: getMerchantDeliveryInfo
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDeliveryInfoResponse'
        "404":
          description: Merchant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        "400":
          description: Merchant does not have delivery enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
  /v1/payment-options/{merchantId}:
    get:
      tags:
      - payment
      summary: Retrieves one time payments
      operationId: getPaymentOptions
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionResponse'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /payment/setup-intent:
    post:
      tags:
      - payment
      summary: An authorzied Stripe specific endpoint that is responsible for three
        things 1) creating a customer if not exists 2) instantiating a setupintent
        3) returning the intent client secret
      responses:
        "201":
          description: successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntentResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentErrorResponse'
        "401":
          description: unauthorized
        "500":
          description: internal server error
  /payment/method:
    get:
      tags:
      - payment
      summary: An Authorized endpoint to retrieve payment methods by a ritualUserId
        (extracted from the auth token)
      parameters:
      - name: paymentProcessor
        in: query
        description: An optional filter by paymentProcessor i.e BRAINTREE/STRIPE
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: The name of the payment processor i.e STRIPE/BRAINTREE
          example: BRAINTREE
          enum:
          - STRIPE
          - BRAINTREE
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethod'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentErrorResponse'
        "401":
          description: unauthorized
        "500":
          description: internal server error
      security:
      - sandboxOAuth: []
      - qaOAuth: []
    post:
      tags:
      - payment
      summary: An Authorized endpoint to add a payment method to a payment user.  A
        payment user is created if not exists.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethod'
        required: true
      responses:
        "201":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodAddResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentErrorResponse'
        "401":
          description: unauthorized
        "500":
          description: internal server error
      security:
      - sandboxOAuth: []
      - qaOAuth: []
    delete:
      tags:
      - payment
      summary: An Authorized endpoint to remove a payment method from a payment processor
        (ritualUserId is extracted from the auth token)
      parameters:
      - name: paymentMethodId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: successful operation
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentErrorResponse'
        "401":
          description: unauthorized
        "500":
          description: internal server error
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/merchantpreview/search:
    post:
      tags:
      - merchant-preview
      summary: Get a list of merchant preview search results given a name and address.
      operationId: merchantPreviewSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantPreviewSearchParam'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MerchantPreviewSearchResult'
  /v1/merchantpreview:
    get:
      tags:
      - merchant-preview
      summary: Get a merchants preview menu and merchant data.
      operationId: merchantPreview
      parameters:
      - name: merchantPreviewId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: countryCode
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPreviewData'
        "400":
          description: merchant preview was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /v1/image:
    get:
      tags:
      - merchant-preview
      summary: Get a new url for an external image.
      operationId: imageRedirect
      parameters:
      - name: url
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: string
        "404":
          description: Image not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /v1/search:
    get:
      tags:
      - search
      summary: Get search results given the query
      operationId: search
      parameters:
      - name: metroId
        in: query
        description: Unique identifier of a metro
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: CA-TOR
      - name: query
        in: query
        description: search query
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: Burgers
      - name: lat
        in: query
        description: user's latitude
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
        example: 43.64692
      - name: lon
        in: query
        description: user's longitude
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
        example: -79.3950018
      - name: showOpenPlaces
        in: query
        description: only show open places
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        example: true
      - name: campaignId
        in: query
        description: only show the merchants participating in this campaign
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: PaypalLA
      - name: limit
        in: query
        description: limit the number of results
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 100
      - name: showDelivery
        in: query
        description: only show merchants which support delivery
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        example: true
      - name: showPickup
        in: query
        description: only show merchants which support pickup
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        example: true
      - name: showDineIn
        in: query
        description: only show merchants which support dine-in
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        example: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
  /v1/search/categories:
    get:
      tags:
      - search
      summary: Get a list of available search categories
      operationId: searchCategories
      parameters:
      - name: lat
        in: query
        description: User's latitude (required alongside longitude parameter if metro
          ID is not provided)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
        example: 43.64692
      - name: lon
        in: query
        description: User's longitude (required alongside latitude parameter if metro
          ID is not provided)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
        example: -79.3950018
      - name: limit
        in: query
        description: limit the number of results
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 100
      - name: metroId
        in: query
        description: Unique identifier of a metro (required if location coordinates
          are not provided)
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: CA-TOR
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCategoriesResponse'
  /v1/campaign/redeem:
    put:
      tags:
      - campaign
      summary: Redeem a marketing campaign after the order is completed
      operationId: redeemCampaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignRedemptionRequest'
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignRedemptionResponse'
        "400":
          description: Could not find the requested campaign to redeem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
  /v1/user:
    get:
      tags:
      - user
      summary: Data for the user
      operationId: getUserData
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDataResponse'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
      security:
      - sandboxOAuth: []
  /v1/delivery-status/{orderToken}:
    get:
      tags:
      - delivery
      summary: Retrieve the status of a delivery order
      description: |
        Deprecated by `GET /v1/delivery-status` where
        `useToken=true` is equivalent to `orderIdentifierType=GUEST_TOKEN` and
        `useToken=false` is equivalent to `orderIdentifierType=ID`
      operationId: getDeliveryStatus
      parameters:
      - name: orderToken
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: useToken
        in: query
        description: useToken
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        example: true
      - name: restrictSimulator
        in: query
        description: restrictSimulator
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        example: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryStatus'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
      deprecated: true
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/delivery-status:
    get:
      tags:
      - delivery
      summary: Retrieve the status of a delivery order by query param
      operationId: getDeliveryStatusByQuery
      parameters:
      - name: orderIdentifier
        in: query
        description: "The order ID, temporary order token, or the guest order token."
        required: true
        style: form
        explode: true
        schema:
          type: string
        examples:
          GUEST_TOKEN:
            value: b124320a758b43ce86659f681bb8fc95
          ID:
            value: b124320a758b43ce86659f681bb8fc95
          TOKEN:
            value: 9007199254740991
      - name: orderIdentifierType
        in: query
        description: Determines which identifier type to use to look up the order.
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/OrderIdentifierType'
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryStatus'
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/users/current/cart/{merchantId}:
    post:
      tags:
      - current-user-cart
      summary: Copy a cart to a new cart for the current user
      operationId: copyCart
      parameters:
      - name: merchantId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: sourceType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - CURRENT_EXTERNAL_ID
      responses:
        "201":
          description: successful operation
        "400":
          description: an error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
      security:
      - sandboxOAuth: []
      - qaOAuth: []
  /v1/shareables/{promoCode}:
    get:
      tags:
      - shareable
      summary: "[DEPRECATED] Get a shareable for recipients display"
      description: "[DEPRECATED] use `GET /promo-codes` operation instead."
      operationId: getShareable
      parameters:
      - name: promoCode
        in: path
        description: The promo code associated with the shareable
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shareable'
        "4XX":
          description: An error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
      deprecated: true
  /promo-codes:
    get:
      tags:
      - promo-codes
      summary: Get information about one or more promo codes
      operationId: getMultiplePromoCodes
      parameters:
      - name: promoCodes
        in: query
        description: List of one or more promo codes to query for
        required: true
        style: form
        explode: false
        schema:
          minLength: 1
          type: array
          items:
            minLength: 1
            type: string
        example: "FOODFEST,CURTIS31696-4EDE"
      - name: nextPageToken
        in: query
        description: Pagination token for retrieving the next page
        required: false
        schema:
          maxLength: 75
          minLength: 6
          type: string
        example: YSBwYWdpbmF0aW9uVG9rZW4gZXhhbXBsZQ
      - name: limit
        in: query
        description: A limit on the number of objects to be returned
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
        example: 10
      - name: Accept-Language
        in: header
        description: "The Accept-Language request HTTP header advertises which languages\
          \ the client is able to understand, and which locale variant is preferred.\
          \ If the language requested is not supported, a default language will be\
          \ used. An IETF BCP 47 language tag."
        required: false
        schema:
          type: string
        example: en-US
      responses:
        "207":
          description: At least one promo code was found. Promo code(s) information
            is returned.
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMultiplePromoCodesResponse'
  /promo-codes/{promoCode}:
    get:
      tags:
      - promo-codes
      summary: Get information about a promo code
      operationId: getPromoCode
      parameters:
      - name: promoCode
        in: path
        description: Unique identifier of the promo code
        required: true
        style: simple
        explode: false
        schema:
          minLength: 1
          type: string
        example: CURTIS31696-4EDE
      - name: Accept-Language
        in: header
        description: "The Accept-Language request HTTP header advertises which languages\
          \ the client is able to understand, and which locale variant is preferred.\
          \ If the language requested is not supported, a default language will be\
          \ used. An IETF BCP 47 language tag."
        required: false
        schema:
          type: string
        example: en-US
      responses:
        "200":
          description: Promo code information is returned
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        "404":
          description: Promo code was not found
components:
  schemas:
    BrandData:
      type: object
      properties:
        merchantDTOList:
          type: array
          items:
            $ref: '#/components/schemas/MerchantData'
        theme:
          $ref: '#/components/schemas/Theme'
      description: "Collection of merchant data for associated merchants, and a Theme"
    FulfillmentType:
      type: string
      description: The fulfillment type from the user's perspective
      example: IN_STORE
      enum:
      - CURBSIDE
      - DELIVERY
      - DINE_IN
      - IN_STORE
      - OUTPOST
    MerchantDisplayMode:
      type: string
      description: |
        Instructs UI to display merchants menu with specific order methods:
        * `DEFAULT` - Display all order methods supported my merchant
        * `DINE_IN` - Display dine-in order method in place of pickup
        * `DELIVERY` - Display delivery only and hide pickup option (this will be ignored if the merchant does not support delivery)
        * `ORDER_AHEAD` - Display scheduled order method only (this will be ignored if the merchant does not support scheduled orders)
      example: DEFAULT
      enum:
      - DEFAULT
      - DINE_IN
      - DELIVERY
      - ORDER_AHEAD
    MerchantAuthMode:
      type: string
      description: |
        Indicates which mode of authentication to use:
        * `DEFAULT` - Users can create carts and checkout as guests, authentication is never forced or required
        * `CHECKOUT_OTP` - Users can create guest carts, but must authenticate via OTP in order to checkout
      example: DEFAULT
      enum:
      - DEFAULT
      - CHECKOUT_OTP
    LatLng:
      required:
      - latitude
      - longitude
      type: object
      properties:
        latitude:
          type: number
          description: Latitude
          format: double
          example: -0.01
        longitude:
          type: number
          description: Longitude
          format: double
          example: 44.68
      description: A point somewhere on Earth
      example: "{12.00, -2.01}"
    MerchantAddress:
      required:
      - city
      - country
      - defaultPhoneNumberCountryCode
      - region
      - streetAddress
      type: object
      properties:
        streetAddress:
          type: string
          description: Translated address of the merchant
          example: 123 Fake Street
        intersection:
          type: string
          description: "Translated Intersection, empty if not available"
          example: Fake St/Ruse Ave
        postalCode:
          type: string
          description: Postal code of the merchant
          example: H0H 0H0
        city:
          type: string
          description: Translated city of the merchant
          example: Toronto
        region:
          type: string
          description: Translated region of the merchant
          example: Ontario
        country:
          type: string
          description: Translated  of the merchant
          example: Canada
        defaultPhoneNumberCountryCode:
          type: string
          description: The default phone number country code for the merchant
          example: us
      description: Address Information of the merchant
    MerchantDisplayConfiguration:
      required:
      - displayMode
      type: object
      properties:
        displayMode:
          $ref: '#/components/schemas/MerchantDisplayMode'
      description: Display configuration of the merchant
    MerchantAuthConfiguration:
      required:
      - authMode
      type: object
      properties:
        authMode:
          $ref: '#/components/schemas/MerchantAuthMode'
      description: Authentication configuration of the merchant
    MerchantData:
      required:
      - authConfiguration
      - categories
      - displayConfiguration
      - id
      - imageUrl
      - latLng
      - menuItemGroupListId
      - name
      - openHours
      - phoneNumber
      - pickupInstructions
      - state
      - supportsDelivery
      - supportsGroupOrdering
      - supportsLoyaltyPlus
      - supportsPickup
      - todaysHours
      - url
      type: object
      properties:
        id:
          type: string
          description: Id of the merchant
          example: "333"
        name:
          type: string
          description: Translated name of the merchant
          example: Ritual Food Stall
        url:
          type: string
          description: Url shortcode of the merchant
          example: asfr
        address:
          $ref: '#/components/schemas/MerchantAddress'
        phoneNumber:
          type: string
          description: Phone number of the merchant
          example: "45555555555"
        state:
          type: string
          description: State of the merchant
          example: MERCHANT_DOWN_MANUAL
        supportsDelivery:
          type: boolean
          description: Does this merchant offer delivery
          example: false
        supportsPickup:
          type: boolean
          description: Does this merchant offer pickup
          example: false
        supportsGroupOrdering:
          type: boolean
          description: Does this merchant support group orders
          example: false
        supportsLoyaltyPlus:
          type: boolean
          description: Does this merchant offer a loyalty program
          example: false
        latLng:
          $ref: '#/components/schemas/LatLng'
        displayConfiguration:
          $ref: '#/components/schemas/MerchantDisplayConfiguration'
        authConfiguration:
          $ref: '#/components/schemas/MerchantAuthConfiguration'
        openHours:
          type: array
          description: A list of merchant open hours for the next 7 days
          example: "{WED, 12AM-2PM}"
          items:
            $ref: '#/components/schemas/MerchantHours'
        todaysHours:
          type: string
          description: "Open hours of today, or when the merchant opens next"
          example: "Open 12AM-2PM, Opens Wed 12PM"
        imageUrl:
          type: string
          description: url of the merchants
          example: example.com/picture.jpeg
        squareImageUrl:
          type: string
          description: url of the merchants square image
          example: example.com/picture.jpeg
        menuItemGroupListId:
          type: string
          description: id of the menu for this merchant
          example: "123"
        categories:
          type: array
          description: visible categories of the merchant
          example: BURGERS
          items:
            type: string
            description: visible categories of the merchant
            example: BURGERS
        pickupInstructions:
          type: string
          description: instructions for the user to follow when picking up their food
            from this merchant
          example: Go to the second floor
        timezone:
          type: string
          description: The merchants timezone
          example: GMT
        emailSubscriptionDefaultOn:
          type: boolean
          description: Whether or not email subscription widget is default on
          example: true
        currencyCode:
          type: string
          description: The merchants currency code
          example: CAD
        open:
          type: boolean
        scheduledOrderTimeSlots:
          type: array
          description: Date and time slots that orders can be scheduled for. Null
            implies the merchant has scheduled ordering disabled
          items:
            $ref: '#/components/schemas/MerchantData_scheduledOrderTimeSlots'
        highlightMessage:
          type: string
          description: A custom message displayed on the merchant's menu
          example: All items on the menu can be customized
      description: "Data for a merchant, such as hours, names, addresses, etc"
    MerchantHours:
      required:
      - dayOfWeek
      - durationList
      type: object
      properties:
        dayOfWeek:
          type: string
          description: Id of the merchant
          example: "333"
        durationList:
          type: array
          description: "All open periods that day, or \"Closed\""
          example: "[11AM-2PM, 5PM-11PM]"
          items:
            type: string
            description: "All open periods that day, or \"Closed\""
            example: "[11AM-2PM, 5PM-11PM]"
      description: The times a merchant is open in a given day (day name translated)
      example: "{WED, 12AM-2PM}"
    MerchantDeliveryInfoResponse:
      type: object
      properties:
        estimatedDeliveryTimeRange:
          $ref: '#/components/schemas/EstimatedDeliveryTimeRange'
        deliveryChargeMicro:
          type: integer
          description: The delivery charges on a delivery order (returns the minimum
            value if it varies). Can be set to `0` for free delivery.
          format: int64
          nullable: true
          example: 300000000
        deliveryMinimumOrderValueMicro:
          type: integer
          description: The minimum subtotal of the cart in order to get eligible for
            delivery. Can be unset if there is no minimum value for delivery eligibility.
          format: int64
          nullable: true
          example: 200000000
        freeDeliveryOrderValueMicro:
          type: integer
          description: "If the subtotal of the cart is more than this value, there\
            \ will be no delivery charges. Can be unset if there is no free delivery\
            \ over a specific value."
          format: int64
          nullable: true
          example: 1500000000
    Theme:
      required:
      - headerImageUrl
      - iconUrl
      - landingHeaderText
      - primaryColorHex
      - themeId
      type: object
      properties:
        themeId:
          type: string
          description: Id of the theme
          example: ASNKFGHO
        iconUrl:
          type: string
          description: URL of the themes icon
          example: https://lh3.googleusercontent.com/5LCvFp1mCFSiYNAY2JdB39f1V412_pwPcBkynhM0nv-_OOAB_CBYRulZ7xoB6km1iHs0_wpr-Cmyu-tt3pKCLw=s0
        headerImageUrl:
          type: string
          description: Url of header image
          example: https://lh3.googleusercontent.com/5LCvFp1mCFSiYNAY2JdB39f1V412_pwPcBkynhM0nv-_OOAB_CBYRulZ7xoB6km1iHs0_wpr-Cmyu-tt3pKCLw=s0
        primaryColorHex:
          type: string
          description: Hec code of the primary color
          example: "4278687425"
        landingHeaderText:
          type: string
          description: Translated text for the page header
          example: Food
      description: "A theme object, to style pages with a color and images"
    PaymentError:
      required:
      - errorType
      - localizedErrorMessage
      type: object
      properties:
        localizedErrorMessage:
          type: string
          description: Localized error message. Is general for all object types.
          example: The payment information provided was not valid.
        errorBody:
          $ref: '#/components/schemas/PaymentErrorBody'
        errorType:
          $ref: '#/components/schemas/ErrorType'
    PaymentErrorBody:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          description: Cause of Payment Error
          example: PaymentFailureType Enum.
          enum:
          - INVALID_PAYMENT_INFO
          - PAYMENT_INFO_NOT_FOUND
          - PAYMENT_BELONGS_TO_ANOTHER_USER
          - CLIENT_SETUP_INTENT_SECRET_NOT_FOUND
    PaymentErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/PaymentError'
    NotFoundError:
      required:
      - errorType
      - localizedErrorMessage
      type: object
      properties:
        localizedErrorMessage:
          type: string
          description: Localized error message. Is general for all object types.
          example: Object not found.
        errorBody:
          $ref: '#/components/schemas/NotFoundErrorBody'
        errorType:
          $ref: '#/components/schemas/ErrorType'
    NotFoundErrorBody:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          description: What could not be found
          example: NotFoundObjectType Enum.
          enum:
          - BRAND
          - CART
          - MENU
          - MENU_ITEM
          - MERCHANT
          - ORDER
          - MERCHANT_PREVIEW
          - USER
          - PAYMENT
    NotFoundErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/NotFoundError'
    InvalidScheduledForTimeError:
      required:
      - errorType
      type: object
      properties:
        localizedErrorMessage:
          type: string
          description: Localized error message. Is general for all invalid scheduled
            for time.
          example: Provided scheduled for time was invalid.
        errorType:
          $ref: '#/components/schemas/ErrorType'
    InvalidScheduledForTimeErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/InvalidScheduledForTimeError'
    CurrencyCode:
      type: string
      description: The currency code used for financial details on the cart
      example: CAD
      enum:
      - UNKNOWN_CURRENCY_CODE
      - AUD
      - CAD
      - EUR
      - GBP
      - HKD
      - JPY
      - NZD
      - SGD
      - USD
    CartResponse:
      required:
      - cartChecksum
      - cartItems
      - currencyCode
      - financialInfo
      - fulfillmentType
      - merchantId
      - tipOptions
      type: object
      properties:
        merchantId:
          type: string
          description: ID of the merchant
          example: 8da416e84b2945f2a30d88ca18431e4c
        cartChecksum:
          type: string
          description: The checksum on the cart to pass to the place order request
          example: 7e706f179e0b4ea89e82d73dd4c1130d38ecbdedd5c9477ebb9377f9c0f5eddd
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        cartItems:
          type: array
          description: The items in the cart
          items:
            $ref: '#/components/schemas/CartItem'
        financialInfo:
          $ref: '#/components/schemas/CartFinancialinfo'
        tipOptions:
          type: array
          description: The options for the tip
          items:
            $ref: '#/components/schemas/CartTipOption'
        selectedTipOptionId:
          type: string
          description: The currently selected option. null if not selected.
          example: FixedTipOption_100000000
        fulfillmentType:
          $ref: '#/components/schemas/FulfillmentType'
        userDeliveryAddressDetail:
          $ref: '#/components/schemas/UserDeliveryAddressDetail'
        userDeliveryAddressId:
          $ref: '#/components/schemas/UserDeliveryAddressId'
        cartCheckoutCodes:
          type: array
          description: checkout codes which are part of this cart
          items:
            $ref: '#/components/schemas/CartCheckoutCodeResponse'
        pickupFulfillmentEstimate:
          type: integer
          description: Time in milliseconds on how long the pick up order will be
            ready in
          format: int64
          example: 300000
        scheduledForTime:
          type: string
          description: "Date and time of when the order will be scheduled for (no\
            \ time zone, merchant time zone assumed)"
          format: date-time
        includeCutlery:
          type: boolean
          description: Whether the merchant should include cutlery with this order.
            The option will be only be shown to users if property exists
          example: false
        fulfillmentId:
          type: string
          description: Fulfillment associated with the cart (`null` if there is no
            fulfillment)
          nullable: true
        incentives:
          type: array
          description: a list of applied incentives
          items:
            $ref: '#/components/schemas/CartIncentive'
      description: A user's cart at a merchant.
    CartCheckoutCodeResponse:
      required:
      - checkoutCodeId
      - checkoutCodeText
      type: object
      properties:
        checkoutCodeText:
          type: string
          description: The displayable name of the checkout code on the cart
          example: PIZZA
        checkoutCodeId:
          type: string
          description: The id of the checkout code on the cart
          example: sdfhsaethjq45aerdh2
      description: Information of the checkout code on the cart
    CartDeliveryInfoResponse:
      type: object
      properties:
        estimatedDeliveryTimeRange:
          $ref: '#/components/schemas/EstimatedDeliveryTimeRange'
    CartFinancialinfo:
      required:
      - cartDiscounts
      - itemSumMicro
      - serviceChargeMicro
      - serviceChargeTaxMicro
      - serviceCharges
      - subtotalMicro
      - taxMicro
      - taxRates
      - tipMicro
      - totalPayableMicro
      type: object
      properties:
        itemSumMicro:
          type: integer
          description: The sum of the cart items' price micros
          format: int64
        tipMicro:
          type: integer
          description: The total tip on the order
          format: int64
          example: 300000000
        subtotalMicro:
          type: integer
          description: "The subtotal of the cart before tax is applied. If item price\
            \ includes tax, tax is removed from this value."
          format: int64
          example: 1600000000
        deliveryChargeApplicableMicro:
          type: integer
          description: The order value when calculate delivery eligibility and delivery
            pricing.
          format: int64
          example: 300000000
        deliveryChargeMicro:
          type: integer
          description: The delivery charges on a delivery order
          format: int64
          example: 300000000
        deliveryMinimumOrderValueMicro:
          type: integer
          description: The minimum subtotal of the cart in order to get eligible for
            delivery.
          format: int64
          example: 200000000
        freeDeliveryOrderValueMicro:
          type: integer
          description: "If the subtotal of the cart is more than this value, there\
            \ will be no delivery charges."
          format: int64
          example: 1500000000
        serviceChargeMicro:
          type: integer
          description: The total service charge on the order
          format: int64
          example: 100000000
        serviceChargeTaxMicro:
          type: integer
          description: The total service charge on the order
          format: int64
          example: 100000000
        taxMicro:
          type: integer
          description: The tax on the order
          format: int64
          example: 287000000
        totalPayableMicro:
          type: integer
          description: The amount that is the sum of everything the user should be
            paying
          format: int64
          example: 1999000000
        taxRates:
          type: array
          description: Breakdown of the taxes applied to the cart
          items:
            $ref: '#/components/schemas/CartTaxRate'
        serviceCharges:
          type: array
          description: Breakdown of the service charges applied to the cart
          items:
            $ref: '#/components/schemas/CartServiceCharge'
        cartDiscounts:
          type: array
          description: Breakdown of the cart level discounts applied to the cart
          items:
            $ref: '#/components/schemas/CartOrderDiscount'
        creditMicro:
          type: integer
          description: The amount of credits applied that will apply to the order
          format: int64
        merchantEligibleForLoyaltyPlus:
          type: boolean
      description: Financial information of the cart
    CartItem:
      required:
      - cartItemId
      - cartItemOptions
      - description
      - menuItemId
      - priceMicro
      - quantity
      - title
      type: object
      properties:
        cartItemId:
          type: string
          description: ID of the cart item
          example: 8da416e84b2945f2a30d88ca18431e4c
        menuItemId:
          type: string
          description: ID of the menu item associated with the cart item
          example: "187198"
        quantity:
          type: integer
          description: Number to be ordered
          format: int32
          example: 1
        title:
          type: string
          description: Localized title  of the item
          example: Halibut
        description:
          type: string
          description: Localized description of the item
          example: Tasty fish.
        priceMicro:
          type: integer
          description: The price of the cart item
          format: int64
          example: 18000000000
        note:
          type: string
          description: Any user notes on the cart item
          example: Extra tartar sauce please! That stuff is amazing.
        cartItemOptions:
          type: array
          description: The options selected for the cart
          items:
            $ref: '#/components/schemas/CartItemOption'
        perk:
          $ref: '#/components/schemas/MenuItemPerk'
      description: An item in a cart
    CartItemOption:
      required:
      - incrementCount
      - menuItemOptionId
      - priceMicro
      - title
      type: object
      properties:
        menuItemOptionId:
          type: string
          description: The option selected from the menu for the item
          example: "18791"
        title:
          type: string
          description: The title of the menu item option
          example: Fries
        priceMicro:
          type: integer
          description: The price of the menu item option
          format: int64
          example: 180000000
        incrementCount:
          type: integer
          description: Increment count
          format: int32
          example: 3
      description: A selected menu item option on a cart item
    CartOrderDiscount:
      required:
      - appliedBeforeTax
      - discountMicro
      - displayName
      - isDiscountAsPoints
      type: object
      properties:
        displayName:
          type: string
          description: Localized display name of the order discount
          example: Discount (50% off).
        discountMicro:
          type: integer
          description: The amount the discount applied to the order
          format: int64
          example: 50000000
        appliedBeforeTax:
          type: boolean
          description: True if the discount was applied before tax. False if the discount
            was applied after tax.
        isDiscountAsPoints:
          type: boolean
          description: True if display as a regular number and not as a currency value
      description: An order level discount on a cart
    CartServiceCharge:
      required:
      - displayName
      - serviceChargeMicro
      type: object
      properties:
        displayName:
          type: string
          description: Localized display name of the service charge
          example: Plastic use fee.
        serviceChargeMicro:
          type: integer
          description: The amount the service charge is applied on the order
          format: int64
          example: 50000000
      description: A service charge on a cart
    CartTaxRate:
      required:
      - displayName
      - taxMicro
      - taxRateId
      - taxRatePercent
      type: object
      properties:
        taxRateId:
          type: string
          description: The ID of the tax rate type
          example: HST
        taxRatePercent:
          type: number
          description: The tax rate as a percentage
          format: double
          example: 10
        taxMicro:
          type: integer
          description: The amount the tax will be on the order
          format: int64
          example: 160000000
        displayName:
          type: string
          description: The localized display name of the tax
          example: HST
      description: A tax applied to the cart
    CartTipOption:
      required:
      - optionDisplayText
      - optionId
      type: object
      properties:
        optionId:
          type: string
          description: The option which is selected on the cart
          example: FixedTipOption_100000000
        optionDisplayText:
          type: string
          description: What to display for the tip option
          example: 10%
      description: Information of the tip on the cart
    CreateDeliveryAddressRequest:
      required:
      - address
      type: object
      properties:
        address:
          $ref: '#/components/schemas/UserDeliveryAddressDetail'
      description: Request body for saving a new delivery address
    CreateDeliveryAddressResponse:
      required:
      - address
      type: object
      properties:
        address:
          $ref: '#/components/schemas/UserDeliveryAddress'
      description: Response body for a newly created delivery address
    GetDeliveryAddressResponse:
      required:
      - addresses
      type: object
      properties:
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/UserDeliveryAddress'
      description: Response object containing a list of delivery addresses for authenticated
        users
    InvalidCartItemError:
      required:
      - errorType
      - localizedErrorMessage
      type: object
      properties:
        localizedErrorMessage:
          type: string
          description: Localized error message. Is general for all invalid cart items.
          example: Provided cart item was invalid.
        errorBody:
          type: object
          additionalProperties:
            type: object
        errorType:
          $ref: '#/components/schemas/ErrorType'
    InvalidCartItemErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/InvalidCartItemError'
    CartPropsRequest:
      type: object
      properties:
        includeCutlery:
          type: boolean
          description: Whether the merchant should include cutlery with the order.
            The option will only be shown if the property exists.
        fulfillmentId:
          type: string
          description: Fulfillment associated with this cart. This will effect what
            incentives are available.
      description: Payload for updating props of the cart
    CartItemRequest:
      required:
      - menuItemId
      - priceMicro
      - quantity
      - title
      type: object
      properties:
        menuItemId:
          type: string
          description: ID of the menu item associated with the cart item
          example: "187198"
        quantity:
          type: integer
          description: Number to be ordered
          format: int32
          example: 1
        title:
          type: string
          description: Title of the item. Used for validating the item hasn't been
            updated.
          example: Cheeseburger
        priceMicro:
          type: integer
          description: The price of the cart item
          format: int64
          example: 18000000000
        note:
          type: string
          description: Any user notes on the cart item
          example: Extra cheese if you can! I love that stuff.
        perkId:
          type: string
          description: The user's selected perk for this cart item
          example: "123123"
        removeConflictingPerks:
          type: boolean
          description: "Ignored if `perkId` is not set. If true, conflicting perks\
            \ will be removed from the cart. If false, the request will respond with\
            \ an error when conflicting perks are present."
          example: false
        cartItemOptions:
          type: array
          description: the user's selected options for this cart item
          items:
            $ref: '#/components/schemas/CartItemOptionRequest'
      description: Payload for adding an item to a cart.
    CartItemOptionRequest:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The id for the menu item. Same as menuItemId in CartItemOption
          example: "7869194"
        incrementCount:
          type: integer
          description: the increment count of the item
          format: int32
          example: 1
    CartConfigRequest:
      type: object
      properties:
        selectedTipOptionId:
          type: string
          description: The tip option which was selected on the cart. null if none
            selected.
          example: FixedTipOption_100000000
        customTipAmountMicro:
          type: integer
          description: "The custom tip amount for the order. If this is specified,\
            \ `selectedTipOptionId` will be ignored"
          format: int64
          example: 100000000
      description: Payload for modifying the configuration on a cart
    InvalidUserAddressError:
      required:
      - errorType
      - localizedErrorMessage
      type: object
      properties:
        localizedErrorMessage:
          type: string
          description: General description of what went wrong
          example: Cart cannot be updated with provided address.
        errorBody:
          $ref: '#/components/schemas/InvalidUserAddressErrorBody'
        errorType:
          $ref: '#/components/schemas/ErrorType'
    InvalidUserAddressErrorBody:
      required:
      - reason
      type: object
      properties:
        reason:
          type: string
          description: Reason the address is invalid
          example: OUT_OF_RANGE
          enum:
          - UNKNOWN
          - OUT_OF_RANGE
    InvalidUserAddressErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/InvalidUserAddressError'
    CartFulfillmentRequest:
      required:
      - fulfillmentType
      type: object
      properties:
        fulfillmentType:
          $ref: '#/components/schemas/FulfillmentType'
        userDeliveryAddressDetail:
          $ref: '#/components/schemas/UserDeliveryAddressDetail'
        userDeliveryAddressId:
          $ref: '#/components/schemas/UserDeliveryAddressId'
      description: Payload for modifying the fulfillment details of a cart
    CartCheckoutCodeRequest:
      type: object
      properties:
        checkoutCodeToAdd:
          type: string
          description: Checkout code to add to the cart
        checkoutCodeToRemove:
          type: string
          description: Checkout code to remove to the cart
        clearAll:
          type: boolean
      description: Payload for modifying the checkout codes in the cart
    CartScheduledForTimeRequest:
      type: object
      properties:
        scheduledForTime:
          type: string
          description: "Date and time the order is to be scheduled for (no time zone,\
            \ merchant time zone assumed)"
          format: date-time
      description: Payload for modifying the scheduled for time of a cart
    GetOrderResponse:
      required:
      - merchantUrl
      - order
      type: object
      properties:
        order:
          $ref: '#/components/schemas/Order'
        merchantUrl:
          type: string
          description: The URL for the merchant this order was placed at
      description: Order information including progress and metadata
    Order:
      required:
      - currencyCode
      - merchantFulfillmentType
      - orderItems
      - orderReceipt
      - orderStatus
      type: object
      properties:
        currencyCode:
          type: string
          description: The currency the order is in
          example: CAD
        orderStatus:
          $ref: '#/components/schemas/OrderStatus'
        orderItems:
          type: array
          description: Data about the items and options on this order
          items:
            $ref: '#/components/schemas/OrderItem'
        orderReceipt:
          $ref: '#/components/schemas/OrderReceipt'
        merchantFulfillmentType:
          $ref: '#/components/schemas/FulfillmentType'
        userDeliveryAddressDetail:
          $ref: '#/components/schemas/UserDeliveryAddressDetail'
        userDeliveryAddressId:
          $ref: '#/components/schemas/UserDeliveryAddressId'
        orderDeliveryStatuses:
          type: array
          description: A list of delivery status updates for the order. Will be returned
            in chronological order
          items:
            $ref: '#/components/schemas/OrderDeliveryStatuses'
        orderRejectionNote:
          type: string
          description: The note provided by the merchant when rejecting the order.
          example: Sorry these items are not available right now. Maybe you can get
            something else?
        includeCutlery:
          type: boolean
          description: Whether the merchant should include cutlery with this order.
            The option will be only be shown to users if property exists
          example: false
        participatingFulfillmentId:
          type: string
          description: The fulfillment id that this order is participating in
      description: Order information including progress and metadata
    DeliveryStatusEnum:
      type: string
      description: The delivery status
      example: DELIVERY_CREATED
      enum:
      - DELIVERY_CREATED
      - COURIER_CONFIRMED
      - COURIER_ENROUTE_PICKUP
      - COURIER_CONFIRMED_STORE_ARRIVAL
      - COURIER_PICKED_UP
      - COURIER_ENROUTE_DROPOFF
      - COURIER_CONFIRMED_CONSUMER_ARRIVAL
      - COURIER_DROPPED_OFF
      - DELIVERY_CANCELED
    OrderDeliveryStatuses:
      required:
      - deliveryStatus
      - deliveryStatusId
      - updateTimeMS
      type: object
      properties:
        deliveryStatusId:
          type: string
          description: The unqiue identifer for the delivery status
        deliveryStatus:
          $ref: '#/components/schemas/DeliveryStatusEnum'
        updateTimeMS:
          type: integer
          description: "The time, in milliseconds, for when the event took place"
          format: int64
      description: Information about an item on an order
    OrderDiscount:
      required:
      - appliedBeforeTax
      - discountMicro
      - displayName
      - isDiscountAsPoints
      type: object
      properties:
        displayName:
          type: string
          description: The line item name for the discount
        discountMicro:
          type: integer
          description: The amount being discounted
          format: int64
        appliedBeforeTax:
          type: boolean
          description: True if the discount was applied before tax
        isDiscountAsPoints:
          type: boolean
          description: True if display as a regular number and not as a currency value
      description: Specific information about order level discounts for an order
    OrderItem:
      required:
      - itemOptions
      - menuItemId
      - notes
      - orderItemId
      - priceMicro
      - quantity
      - title
      type: object
      properties:
        menuItemId:
          type: string
          description: ID for the menu item
        orderItemId:
          type: string
          description: ID for the item on the order
        title:
          type: string
          description: The item title
        priceMicro:
          type: integer
          description: The base item price for a single item
          format: int64
        quantity:
          type: integer
          description: The number of items that were ordered
          format: int32
        notes:
          type: string
          description: User added notes at item level
        itemOptions:
          type: array
          description: The options for the item
          items:
            $ref: '#/components/schemas/OrderItemOption'
        wasRejected:
          type: boolean
          description: "Was this item rejected, should match the reason given in the\
            \ order"
        perk:
          $ref: '#/components/schemas/MenuItemPerk'
      description: Information about an item on an order
    OrderItemOption:
      required:
      - menuItemOptionId
      - orderItemOptionId
      - priceMicro
      - title
      type: object
      properties:
        menuItemOptionId:
          type: string
          description: ID for the menu item option
        orderItemOptionId:
          type: string
          description: ID for the item option on the order
        title:
          type: string
          description: The title of the option
        priceMicro:
          type: integer
          description: The additional price of the option
          format: int64
        wasRejected:
          type: boolean
          description: "Was this item rejected, should match the reason given in the\
            \ order"
    OrderReceipt:
      required:
      - orderDiscounts
      - pointsEarned
      - serviceCharges
      - subtotalMicro
      - taxRates
      - tipMicro
      - totalMicro
      type: object
      properties:
        orderTicketNumber:
          type: string
          description: The user-readable identifier of the order
        subtotalMicro:
          type: integer
          description: "The subtotal, before tax and service charges"
          format: int64
        totalMicro:
          type: integer
          description: "The total, including tax and service charges"
          format: int64
        pointsEarned:
          type: integer
          description: The number of points earned on the order
          format: int64
        tipMicro:
          type: integer
          description: The amount of tip applied to the order
          format: int64
        deliveryChargeMicro:
          type: integer
          description: The delivery charges on a delivery order
          format: int64
        loyaltyStampsCount:
          type: integer
          description: The number of Loyalty+ stamps collected
          format: int32
        taxRates:
          type: array
          description: The different taxes charged on the order
          items:
            $ref: '#/components/schemas/TaxRate'
        serviceCharges:
          type: array
          description: The different service charges applied to the order
          items:
            $ref: '#/components/schemas/ServiceCharge'
        orderDiscounts:
          type: array
          description: The different order level discounts applied to the order
          items:
            $ref: '#/components/schemas/OrderDiscount'
        creditMicro:
          type: integer
          description: The amount of credits applied to the order
          format: int64
    OrderRejectionReason:
      type: string
      description: The reason an order or item was rejected
      enum:
      - DELIVERY_NOT_IN_RANGE
      - GROUP_ORDER_MEMBER
      - GROUP_ORDER_TIMEOUT
      - ITEM_HOUR_RESTRICTION
      - MERCHANT_HOUR_RESTRICTION
      - MERCHANT_TEMPORARILY_UNAVAILABLE
      - MERCHANT_OVER_CAPACITY
      - OPS_REJECTION
      - OPTION_OUT_OF_STOCK
      - OUT_OF_STOCK
      - OUT_OF_STOCK_120_MINUTES
      - OUT_OF_STOCK_30_MINUTES
      - OUT_OF_STOCK_60_MINUTES
      - OUT_OF_STOCK_DAY
      - OUT_OF_STOCK_FOREVER
      - PHONE_ORDER_REJECT
      - POS_INTEGRATION_GENERIC_ERROR
      - POS_MAPPING_ERROR
      - SERVER_TIMEOUT
      - SERVER_RETRY_LIMIT
      - SERVER_PHONE_ERROR
      - UNKNOWN_REJECT_REASON
      - USER_NOTE
      - USER_REQUEST
    OrderStatus:
      required:
      - isCancellable
      - orderStatus
      type: object
      properties:
        rejectionReason:
          $ref: '#/components/schemas/OrderRejectionReason'
        orderStatus:
          type: string
          description: The status of the order
          enum:
          - ACCEPTED
          - CANCELLED
          - IN_TRANSIT
          - PLACED
          - RECEIVED
          - REJECTED
          - SCHEDULED
          - UNKNOWN_ORDER_STATUS
        acceptTimestamp:
          type: integer
          description: The time the order was accepted in MS since epoch
          format: int64
        estimatedPrepTime:
          type: integer
          description: The estimated time until the order is readyin MS
          format: int64
        inTransitTimestamp:
          type: integer
          description: The timestamp where the order is in transit
          format: int64
        estimatedTransitTime:
          type: integer
          description: The amount of time in milliseconds where the order is estimated
            to be in transit
          format: int64
        orderReadyAtTime:
          type: integer
          description: The amount of time in milliseconds for a delivery or pickup
            order it takes to be ready
          format: int64
        scheduledForTime:
          type: string
          description: "Date and time of when the order was scheduled for (no time\
            \ zone, merchant time zone assumed)"
          format: date-time
        rejectedOrderItemIds:
          type: array
          description: The ids of the items that were rejected
          items:
            type: string
        isCancellable:
          type: boolean
          description: Whether or not this order is cancellable
      description: Information about the current state of an order
    OrderIdentifierType:
      type: string
      description: |
        Determines which identifier type to use to look up the order:
        * `GUEST_TOKEN` - The guest order token
        * `ID` - The order ID
        * `TOKEN` - A temporary order token
      example: TOKEN
      enum:
      - GUEST_TOKEN
      - ID
      - TOKEN
    ServiceCharge:
      required:
      - displayName
      - serviceChargeMicro
      type: object
      properties:
        displayName:
          type: string
          description: The line item name for the service charge
        serviceChargeMicro:
          type: integer
          description: The amount being charged
          format: int64
    TaxRate:
      required:
      - displayName
      - taxMicro
      - taxRate
      - taxRateId
      - taxableMicro
      type: object
      properties:
        taxRateId:
          type: string
          description: The tax rate name. Eg HST
          example: HST
        taxRate:
          type: number
          description: The tax rate as a percentage
          format: double
          example: 10
        taxableMicro:
          type: integer
          description: The amount that the tax applied to
          format: int64
          example: 160000000
        taxMicro:
          type: integer
          description: The amount the tax will be on the order. This is the rate multiplied
            by the taxable micro
          format: int64
          example: 160000000
        displayName:
          type: string
          description: The localized display name of the tax
          example: HST
    OrderGenericError:
      required:
      - errorType
      - localizedErrorMessage
      type: object
      properties:
        localizedErrorMessage:
          type: string
          description: Localized error message
          example: Unable to process your order.
        errorBody:
          type: object
          additionalProperties:
            type: object
        errorType:
          $ref: '#/components/schemas/ErrorType'
    OrderGenericErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/OrderGenericError'
    GenericError:
      required:
      - errorType
      - localizedErrorMessage
      type: object
      properties:
        localizedErrorMessage:
          type: string
          description: Localized error message
          example: Unable to update your cart settings.
        errorBody:
          type: object
          additionalProperties:
            type: object
        errorType:
          $ref: '#/components/schemas/ErrorType'
    GenericErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/GenericError'
    PlaceOrderResponse:
      required:
      - orderId
      type: object
      properties:
        orderId:
          type: string
[...]
